@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    font-family: 'Poppins', sans-serif;
}

.section {
    margin-bottom: 1rem;
}

.footer {
    height: 100px;
}

.footer-links {
    list-style: none;
}

.hide-overflow {
    overflow: hidden;
}

.game {
    width: 100vw;
    height: 100vh;
    user-select: none;
}

#current-car,
#next-car {
    color: white;
}

.game-container {
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 992px) {
    .game-container {
        height: 50vh;
    }
}

.car-image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 51vw;
    height: 100vh;
    transform: translateX(-50%);
    z-index: -1;
    filter: brightness(0.4) saturate(0.8) blur(2px);
}

@media only screen and (max-width: 992px) {
    .car-image {
        width: 101vw;
        height: 51vh;
        transform: translateX(-50%) translateY(-1%);
    }
}

.car-title {
    font-weight: bold;
}

.car-hp {
    color: red;
    font-size: 3em;
    font-weight: bold;
}

.car-hp::after {
    content: ' HP';
}

.hidden {
    opacity: 0;
    transition: opacity 1500ms ease-in-out;
}

.hidden[data-visible] {
    opacity: 1;
}